Repository nonlocalmodels/nonlocalheatequation, pull requests merged in 2020-08, with the labels that each got.

#12 Add make install
  CMakeLists.txt
Labels: build

#14 Add version and extuable name
  CMakeLists.txt
  Config.h.in
  src/1d_nonlocal_serial.cpp
  src/2d_nonlocal_async.cpp
  src/2d_nonlocal_distributed.cpp
  src/2d_nonlocal_serial.cpp
Labels: build, code

#15 Add doxygen target
  .circleci/config.yml
  CMakeLists.txt
  docs/CMakeLists.txt
  docs/conf.doxy.in
Labels: build

#21 Codecoverage
  .circleci/config.yml
  .github/labeler.yml
Labels: circle-ci

#20 Added load balancing support
  include/Config.h
  src/1d_nonlocal_serial.cpp
  src/2d_nonlocal_async.cpp
  src/2d_nonlocal_distributed.cpp
  src/2d_nonlocal_serial.cpp
  src/domain_decomposition.cpp
  tests/load_balance_25s_2n.txt
  tests/load_balance_25s_4n.txt
  tests/load_balance_25s_8n.txt
  tests/load_balance_4s_2n.txt
Labels: code, test

#22 Codecoverage
  .circleci/config.yml
Labels: circle-ci

#23 Updated Readme.md
  README.md
  src/2d_nonlocal_distributed.cpp
Labels: code

#24 Changed doxygen configuration file
  docs/conf.doxy.in
  src/2d_nonlocal_distributed.cpp
Labels: code
